{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GaraCity</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Template Name: Pratt
    Template URL: https://templatemag.com/pratt-app-landing-page-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

  <!-- Fixed navbar -->
  <div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand smothscroll" href="#home"><b>GaraCity</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#home" class="smothscroll">Accueil</a></li>
          <li><a href="#desc" class="smothscroll">Nos offres</a></li>
          <li><a href="#showcase" class="smothscroll">Prendre une reservation</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <section id="home" name="home">
    <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
            <h1>Welcome To <b>GaraCity</b></h1>
            <h3>Votre voiture, notre priorité</h3>
            <br>
          </div>

          <div class="col-lg-2">
            <h5>Prendre rendez vous</h5>
            <p>La prise de rendez-vous dans se site vous assure que votre voiture sera remise en marche dans la semaine.</p>
	    <img class="hidden-xs hidden-sm hidden-md" src="{% static 'img/arrow1.png' %}">
          </div>
          <div class="col-lg-8">
		  <img class="img-responsive" src="{% static 'img/mecano.jpg' %}" style="width: 100%;">
          </div>
          <div class="col-lg-2">
            <br>
	    <img class="hidden-xs hidden-sm hidden-md" src="{% static 'img/arrow2.png' %}">
            <h5>Nos offres</h5>
            <p>Veuillez explorer nos offres les unes les plus avantageuses que les autres.</p>
          </div>
        </div>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #headerwrap -->
  </section>


  <section id="desc" name="desc">
    <!-- INTRO WRAP -->
    <div id="intro">
      <div class="container">
        <div class="row centered">
          <h1>Nos offres</h1>
          <br>
          <br>
          <div class="col-lg-4">
	    <img src="{% static 'img/intro02.png' %}" alt="">
            <h3>Forfaitaire</h3>
            <p>Incluant les pieces détachees (vidange moteur, changement de litre à huile, remplacement des plaquettes de frein, changement d'amortisseurs ou pneus, etc.).</p>
          </div>
          <div class="col-lg-4">
            <img src="{% static 'img/outils.jpg'%}" style="width: 40%;">
            <h3>Non Forfaitaire</h3>
            <p>Choisissez vos frais en fonction la main d'oeuvre voulue et des piéces que vous voulez changer</p>
          </div>
          <div class="col-lg-4">
            <img src="{% static 'img/intro03.png' %}" alt="">
            <h3>Monitoring</h3>
            <p>On vous assure la maintenance de votre voiture à un prix defiant toute concurence</p>
          </div>
        </div>
        <br>
        <hr>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #introwrap -->

    <!-- FEATURES WRAP -->
    <div id="features">
      <div class="container">
        <div class="row">
          <h1 class="centered">Prendre ou voir une reservation</h1>
          <br>
          <br>
          <div class="col-lg-6 centered">
            <img class="centered" src="{% static 'img/garage.PNG' %}" alt="">
          </div>

          <div class="col-lg-6">
            <br>
            <!-- ACCORDION -->
            <div class="accordion ac" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
  		                        Voir sa reservation
  		                        </a>
                </div>
                <!-- /accordion-heading -->
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <p>Suivez l'état de votre réservation grâce à votre immatriculation <a href="/suiviReser">ici</a></p>
                  </div>
                  <!-- /accordion-inner -->
                </div>
                <!-- /collapse -->
              </div>
              <!-- /accordion-group -->
              <br>

              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Prendre une reservation</a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
	            <p>Vous pouvez reserver en cliquant sur ce lien: <a href="/reservation">Je reserve</a></p>
                  </div>
                  <!-- /accordion-inner -->
                </div>
                <!-- /collapse -->
              </div>
              <!-- /accordion-group -->
              <br>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    Je suis technicien</a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
	            <p>Vous pouvez acceder à votre compte: <a href="/authentification/">Je me connecte</a></p>
                  </div>
                  <!-- /accordion-inner -->
                </div>
              </br>
                <!-- /collapse -->
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                    Nous contacter: </a>
                </div>
                <div id="collapseFive" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                      Numero: Mafall Ndiaye</br>
                      Email: mafallnd01@gmail.com</br>
                      Adresse: 15 Chemin des Mouilles, Ecully</br>
                    </p>
                  </div>
                  <!-- /accordion-inner -->
                </div>
                <!-- /collapse -->
              </div>
              <!-- /accordion-group -->
              <br>
            </div>
            <!-- Accordion -->
          </div>
        </div>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #features -->
  </section>


  <section id="showcase" name="showcase">
    <div id="showcase">
      <div class="container">
        <div class="row">
          <h1 class="centered">Quelques images</h1>
          <br>
          <div class="col-lg-8 col-lg-offset-2">
            <div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
		  <img src="{% static 'img/im2.PNG' %}"  style="width: 80%;" alt="">
                </div>
                <div class="item">
			<img src="{% static 'img/im1.PNG' %}" style="width: 100%;" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
      <!-- /container -->
    </div>
  </section>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
