<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ConstatTech</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png'%}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

  <!-- Fixed navbar -->
  <section id="contact" name="contact">
    <div id="footerwrap">
      <div class="container">
        <div class="col-lg-5">
          <h3>Profil</h3>
            Mr {{technicien.nom}} {{technicien.prenom}}<br/> Techni Matricule: {{technicien.id}}<br/> Nombre de voiture = {{technicien.nbRep}}
	    </br> Commandes: </br> {{ commandes }}
          </p>
        </div>
        <div class="col-lg-7">
          <h3>Complement d'information</h3>
          <br>
          <form action="/ajoutconstat/" method="POST">
            {% csrf_token %}
	    <input type="hidden" name="name" value="{{technicien.nom}}"></input>
	    <input type="hidden" name="surname" value="{{technicien.prenom}}"></input>
	    <input type="hidden" name="matricule" value="{{technicien.id}}"></input>
            <div class="form-group">
              <label for="contact-name">Commande</label>
              <input type="text" name="commande" class="form-control" id="contact-name" placeholder="Entrez le numero de la commande" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="contact-message">Constat</label>
              <textarea class="form-control" name="Constat" id="Constat" placeholder="Votre constat sur la voiture" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <button type="submit">Enregistrer</button>
          </form>

        </div>
      </div>
    </div>
  </section>
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Pratt</strong>. All Rights Reserved 
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/pratt-app-landing-page-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Pratt template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js'%}"></script>
  <script src="{% static 'lib/easing/easing.min.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>
</html>
